<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글 목록</title>
</head>
<body>
<h1>글 목록</h1>

<a th:href="@{/article/new}">새 글 작성</a>
<hr>

<table border="1" cellpadding="5">
    <thead>
    <tr>
        <th>ID</th>
        <th>제목</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="article : ${articleList}">
        <td th:text="${article.id}">1</td>
        <td>
            <a th:href="@{|/article/${article.id}|}"
               th:text="${article.title}">제목</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
