<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원 가입 페이지</title>
</head>
<body>
<h1>회원 가입</h1>

<form action="/user/accountMade" method="post">
    <div>
        <label for="userId">아이디</label>
        <input type="text" id="userId" name="userId">
    </div>
    <div>
        <label for="userPassword">비밀번호</label>
        <input type="password" id="userPassword" name="userPassword">
    </div>
    <div>
        <label for="userNickname">닉네임</label>
        <input type="text" id="userNickname" name="userNickname">
    </div>
    <button type="submit">제출</button>
</form>
</body>
</html>